
.row {
    @include  for-desktop-up {
        margin-left: 100px;
        margin-right: 200px;
    }
}
.leftcolumn img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    padding:20px;
    object-position: 20% 80%;
}

.leftcolumn {   
   
    float: left;
    width: 50%;

    @include for-phone-only {
        width: 100%;
    }
  }
  
  /* Right column */

  .rightcolumn{
      margin-top: 40px;
      
     
  }

  .rightcolumn p{
    margin-bottom: 30px;  
}

  .rightcolumn h2{
    font-size: 20px;
    
}

  .rightcolumn img {
     width: 100px;
     float: left;
     padding-right: 10px;
    
     
  }




  .rightcolumn {
    float: left;
    width: 50%;
    padding-left: 20px;
    @include for-phone-only {
        width: 100%;
    }
  }

  
  /* Clear floats after the columns */
  .row:after {
    @include for-tablet-portrait-up {
    content: "";
    display: table;
    clear: both;
  }
}


.never-miss {
    margin-top: 40px;
    @include for-desktop-up {
        border-top-style: solid ;
        border-top-width: thin ;
        margin-left: 230px;
        margin-right: 200px;
        

    }
}

.never-miss img {
    width: 50%;
    object-fit: cover;
    height: 350px;
    width: 280px;
    padding:20px;
    object-position: 60% 40%;
    @include for-phone-only {
        width: 100%;
        height: 200px;
        object-position: 60% 40%;
    }

}

.never-miss img {
  float: left;
}

.never-miss h1 {
    font-size: 50px;
    padding-top: 50px;
    margin-left: 70px;
    color:rgb(54, 54, 54);
    @include for-phone-only {
        font-size: 30px;
        margin-left: 20px;
    }
  }

  .never-miss p {
    font-size: 20px;
    padding-top: 12px;
    margin-left: 70px;
    color:rgb(54, 54, 54);
    margin-bottom: 15px;

    @include for-phone-only {
        font-size: 18px;
        margin-left: 20px;
    }
  }


  .never-miss button {
      width: 120px;
      height: 40px;
      font-size: 20px;
      color: rgb(250, 250, 250);
      background-color: rgb(36, 36, 37);
      border-radius: 8px;
      margin-bottom: 120px;

      @include for-tablet-portrait-up {
        
      }

      @include for-phone-only {
        width: 80px;
        font-size: 18px;
        margin-right: 10px;
      }
      @include for-iphone-five {
        width: 100%;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 5px;
      }
  }

  .never-miss input {
      width: 30%;
      height: 45px;
      margin-right: 20px;
      background-color:transparent;

      @include for-phone-only {
        margin-left: 20px;
        width: 60%;
      }
      @include for-iphone-five {
        margin-left: 20px;
        width: 100%;
      }
  }



  .featured-members {
   margin-left: 20px;
   margin-right: 350px;

   @include for-desktop-up {
    margin-left: 0px;
    margin-right: 0px;
}

   @include for-tablet-portrait-up {
    margin-left: 20px;
    margin-right: 20px;
}

   @include for-phone-only {
    margin-left: 20px;
    margin-right: 0px;
   }
   @include for-iphone-five  {
    margin-left: 10px;
    margin-right: 0px;
   }
  }

  .featured-members h1 {
      font-size: 18px;
      margin-left: 20px;
      padding-bottom: 20px;

      @include for-desktop-up {
        margin-left: 0px;
        margin-right: 0px;
    }

      @include for-tablet-portrait-up {
        font-size: 25px;
        margin-left: 0px;
        padding-bottom: 20px;
        
    }

      @include for-phone-only {
        font-size: 25px;
        margin-left: 0px;
        padding-bottom: 20px;
      }
      @include for-iphone-five {
        font-size: 22px;
        margin-left: 0px;
        padding-bottom: 17px;
      }
       
  }



  .features {
    border-top-style: solid ;
    border-top-width: thin ;

    @include for-tablet-portrait-up {
        margin-right: 0px;
    }
    @include for-phone-only {
        margin-right: 20px;
    }
    @include for-iphone-five{
        margin-right: 0px;

    }
    
    
  }
  .features h2 {
    color: rgb(49, 48, 48);
    font-size: 20px;
    padding-top: 20px;

    @include for-tablet-portrait-up {
        font-size: 26px
    }
    

}

  .features h5 {
      color: rgb(124, 124, 124);
      padding-top: 5px;

      @include for-tablet-portrait-up {
        font-size: 15px;
    }

  }
  .features p{
   color: rgb(80, 82, 82);
   text-align: left;
   margin-left: 0px;

   @include for-tablet-portrait-up {
    font-size: 18px;
}
   @include for-phone-only {
       font-size: 15px;
       padding-top: 5px;
       color: rgb(45, 46, 46);
   }
   @include for-iphone-five {
    font-size: 15px;
    color: rgb(45, 46, 46);
}
}

  .features h2 h5 p{
   float: left;
  }

  .features img {
    float: right;
    width: 50%;
    object-fit: cover;
    height: 150px;
    width: 220px;
    padding:20px;
    object-position: 60% 40%;
    padding-top: 0px;
    padding-top: 20px;

    @include for-tablet-portrait-up {
        height: 130px;
        width: 150px;
        padding-right:0px;
    }

    @include for-phone-only {
        height: 110px;
        width: 120px;
        padding-right:0px;
    }
    @include for-iphone-five {
        height: 120px;
        width: 120px;
        margin-right: 2px;
        
    }
    
  }
   

 